@{
    ViewData["Title"] = "Main";
}
<div id="main">
    <form asp-action="AddFile" asp-controller="Home" enctype="multipart/form-data">
        <h3>Choose Word-file</h3>
        <input type="file" name="uploadedFiles" accept=".doc, .docx" /><br>
        <h3>Choose Excel-file</h3>
        <input type="file" name="uploadedFiles" accept=".xlsx,.xls" /><br>
        <input id="merge_button" type="submit" value="Execute" />
    </form>
</div>